 .u-section-1 {
  background-image: url("images/3yhcivl4tm891.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-group-1 {
  width: 488px;
  min-height: 454px;
  height: auto;
  margin: 165px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 36.24%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 13.78% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 246px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: -279px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 126px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-image-1 {
  height: 129px;
  width: 249px;
  margin: -40px -19px -23px auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-2 .u-image-2 {
  height: 129px;
  width: 249px;
  margin: -40px -19px -23px auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-2 .u-image-3 {
  height: 129px;
  width: 249px;
  margin: -40px -19px -23px auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-2 .u-image-4 {
  height: 129px;
  width: 249px;
  margin: -40px -19px -23px auto;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 186px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 889px;
}

.u-section-3 .u-shape-1 {
  height: 435px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.77778rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: -375px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  width: 740px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 48px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 545px;
  grid-gap: 21px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 30px 30px;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  font-size: 1.875rem;
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 60px 30px 30px;
}

.u-section-3 .u-text-5 {
  text-transform: none;
  font-size: 1.875rem;
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 60px 30px 30px;
}

.u-section-3 .u-text-7 {
  text-transform: none;
  font-size: 1.875rem;
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 60px 30px 30px;
}

.u-section-3 .u-text-9 {
  text-transform: none;
  font-size: 1.875rem;
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-5 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 60px 30px 30px;
}

.u-section-3 .u-text-11 {
  text-transform: none;
  font-size: 1.875rem;
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-text-12 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-6 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 60px 30px 30px;
}

.u-section-3 .u-text-13 {
  text-transform: none;
  font-size: 1.875rem;
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-text-14 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 450px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 50px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 50px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 50px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 50px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 793px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-14 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1742px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 800px;
  margin: 35px auto 60px;
}

.u-section-4 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 16px 0 0;
}

.u-section-4 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 40px;
}

.u-section-4 .u-text-5 {
  text-decoration: none solid rgb(255, 255, 255);
  margin: 32px 30px 0;
}

.u-section-4 .u-image-1 {
  height: 192px;
  margin-top: -1141px;
  margin-bottom: 0;
  object-position: 50% 15.7%;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  margin: -112px 0 0 474px;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  margin: -123px 200px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 382px;
  height: 521px;
  margin: 324px 99px 0 auto;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  margin: -455px 133px 682px auto;
}

.u-section-4 .u-accordion-item-5 {
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  margin: 0;
}

.u-section-4 .u-accordion-item-6 {
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-6 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-10 {
  margin: 30px 30px 0;
}

.u-section-4 .u-image-3 {
  height: 378px;
  margin-top: -1035px;
  margin-bottom: 0;
}

.u-section-4 .u-image-4 {
  height: 434px;
  margin-top: 113px;
  margin-bottom: 110px;
}

.u-section-4 .u-accordion-item-7 {
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-7 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-4 .u-text-11 {
  margin: 30px 0 0;
}

.u-section-4 .u-image-5 {
  height: 399px;
  margin: -992px 0 0;
}

.u-section-4 .u-image-6 {
  height: 364px;
  margin: 76px 0 152px;
}

.u-section-4 .u-accordion-item-8 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-4 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-8 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-12 {
  margin: 0;
}

.u-section-4 .u-image-7 {
  height: 491px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-item-9 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-4 .u-accordion-link-9 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-9 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-text-13 {
  margin: 0;
}

.u-section-4 .u-image-8 {
  width: 217px;
  height: 300px;
  margin: -450px auto 0 254px;
}

.u-section-4 .u-image-9 {
  width: 269px;
  height: 444px;
  margin: -300px 0 6px auto;
}

.u-section-4 .u-accordion-item-10 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-4 .u-accordion-link-10 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-10 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 0;
}

.u-section-4 .u-text-14 {
  margin: 30px 30px 0;
}

.u-section-4 .u-image-10 {
  width: 770px;
  height: 565px;
  margin: -661px auto 96px;
}

.u-section-4 .u-accordion-item-11 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-4 .u-accordion-link-11 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-11 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px;
}

.u-section-4 .u-text-15 {
  margin: 0;
}

.u-section-4 .u-accordion-item-12 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-4 .u-accordion-link-12 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-12 {
  min-height: 297px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px;
}

.u-section-4 .u-text-16 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-accordion-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 394px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-10 {
    width: 720px;
    height: 528px;
    margin-top: -285px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 214px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 150px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-10 {
    width: 540px;
    height: 396px;
    margin-top: -216px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-accordion-1 {
    width: 340px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 14px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 94px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 464px;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-top: -398px;
    margin-right: 84px;
  }

  .u-section-4 .u-image-8 {
    margin-left: 103px;
  }

  .u-section-4 .u-image-10 {
    width: 340px;
    height: 249px;
    margin-top: -131px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 646px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 562px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 178px 0 0;
}

.u-section-5 .u-group-1 {
  min-height: 260px;
  height: auto;
  width: 393px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 526px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
}

.u-section-5 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 78px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    width: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 556px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 492px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-group-1 {
    width: 449px;
    margin-right: 71px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-group-1 {
    width: 320px;
    margin-right: auto;
  }
}